<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helper" class="org.main.MainHelper">
        <property name="fieldProcessor">
            <bean id="fieldProcessor" class="puzzle.core.FieldProcessorImpl" scope="singleton"/>
        </property>
        <property name="presenter">
            <bean id="presenter" class="puzzle.output.PresenterSwingImpl" scope="singleton"/>
        </property>
    </bean>
    <bean id="main" class="org.main.Main"/>

</beans>